.container {
  width: fit-content;
  position: relative;
}

.input {
  display: none;
}

.buttonWrapper {
  width: fit-content;
  margin: auto;
  bottom: 12px;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  cursor: pointer;
  * {
    pointer-events: none;
  }
}

.button {
  width: 140px;
  padding: 10px 4px;
}

.contentContainer {
  padding: 12px;
  width: 300px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(74, 74, 74);
  border: 1px dashed rgb(200, 200, 200);
  background-color: rgb(235, 235, 235);
}

.fileInDropZone {
  background-color: white;
}

.text {
  margin: 0px 0px 6px 0px;
}
